.hidden {
    display: none !important;
}


#quiz-screen1-hidden {
    display: none;
}

#quiz-screen1-show {
    display: block;
}

.row {
    margin: 50px;
}


#quiz-screen2-hidden {
    display: none;
}

#quiz-screen2-show {
    display: block;
}